<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>$title$ - Binary Lion Studios</title>
  <meta name="description" content="">
  <meta name="author" content="RJ Regenold">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/blog.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- RSS
  ================================================== -->
  <link rel="alternate" type="application/rss+xml" title="Binary Lion Studios feed" href="/rss.xml" />

</head>
<body>
  <div class="container">
    <div class="eleven columns offset-by-two">
      <header>
        <h1>
          <ul id="be-social" class="pull-right">
            <li><a href="https://github.com/rjregenold">github</a></li>
            <li><a href="https://twitter.com/rjregenold">twitter</a></li>
          </ul>
          <a href="/" class="underline-hover">Binary Lion Studios</a>
        </h1>
      </header>
      <div>
        $body$
      </div>
      <footer>
        <ul class="inline pull-right">
          <li><a href="/rss.xml">feed</a></li>
        </ul>
        <ul class="inline">
          <li>Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>.</li>
          <li>Made pretty with <a href="http://www.getskeleton.com/">Skeleton</a>.</li>
        </ul>
      </footer>
    </div>
  </div>
</body>
</html>
